@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}



.radio.active::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #51a2ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.radio.active {
    border: 1px #51a2ff solid
}